/**
 * Custom override styles
 */
 .alert {
	z-index: 2000;
	position: fixed;
	width: 100%;
}
section.fp-section {
    z-index: 1;
    -webkit-transform: translate3d(0,0,0);
}
/******** CONTAINER ********/
body > div > .main-container.container-fluid {
    padding: 0;
    overflow-x: hidden;
}
body > div {
	margin-top: -1px;
}

/******** TITLE SECTIONS ********/
section.node-title::before, section.fullpage-header::before {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: 
        linear-gradient(130deg, rgba(255, 255, 255, 0.05) 8.33%, rgba(0, 0, 0, 0.5) 8.33%, rgba(0, 0, 0, 0.5) 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 58.33%, rgba(0, 0, 0, 0.5) 58.33%, rgba(0, 0, 0, 0.5) 100%);
    background-size: 7.83px 9.33px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.6;
}
section.node-slideshow .section-slide::before, section.node-16::before {  /* add repeating stripey background overlay */
    content:"";
    display: block;
    height: 100vh;
    position: relative;
    top: -50px;
    left: 0;
    width: 100vw;
    background-image: 
        linear-gradient(130deg, rgba(255, 255, 255, 0.05) 8.33%, rgba(0, 0, 0, 0.5) 8.33%, rgba(0, 0, 0, 0.5) 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 58.33%, rgba(0, 0, 0, 0.5) 58.33%, rgba(0, 0, 0, 0.5) 100%);
    background-size: 7.83px 9.33px;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.35;
}
section.node-title.node-2::before {  /* add repeating stripey background overlay + dark top gradient edge */
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: 
        linear-gradient(130deg, rgba(255, 255, 255, 0.05) 8.33%, rgba(0, 0, 0, 0.7) 8.33%, rgba(0, 0, 0, 0.7) 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 58.33%, rgba(0, 0, 0, 0.7) 58.33%, rgba(0, 0, 0, 0.7) 100%),
        linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 15%, rgba(0,0,0,0) 100%)
        ;
    background-size: 7.83px 9.33px, cover;
    opacity: 0.4;
}
section.node-title {
    text-align: center;
}
section.node-title h1 {
    text-transform: uppercase;
    color: #fdfdfd;
    letter-spacing: 0.2em;
    font-size: calc(175% + 5vw);
    margin-top: -50px;
}
section.fullpage-header h1 {
    text-transform: uppercase;
    color: #fdfdfd;
    letter-spacing: 0.2em;
    font-size: calc(200% + 4vw);
    text-align: center;
    margin-top: 10px;
}
section.node-title h2 {
    text-transform: uppercase;
    color: #16c1f3;
    letter-spacing: 0.2em;
    font-size: calc(55% + 2vw);
}
.scroll-down {
	position: absolute;
	bottom: 1px;
	color: rgba(253, 253, 253, 0.7);
	margin: auto;
	width: 100%;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.3em;
    animation-duration: 2s;
    animation-delay: 4s;
}

/******** BASIC SECTIONS ********/
section.node-page h3 {
    font-size: 1.5em;
}
section.node-page .body {
    padding: 0 30px;
    font-size: calc(100% + 0.25vw);
    line-height: calc(150% + 0.2vw);
}

/******** ABOUT SECTION ********/

section.node-page .body .changing-headline p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
section.node-page .body .changing-headline > p {
	float: left;
}
section.node-page .body ul.changing-words-wrapper {
    display: inline-block;
    perspective: 300px;
    margin-left: 0.5em;
    padding-left: 0;
}
section.node-page .body ul.changing-words-wrapper li {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: rotateX(180deg);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    list-style: none;
}
section.node-page .body ul.changing-words-wrapper li p {
    font-weight: 700;
}
section.node-page .body ul.changing-words-wrapper li.is-visible {
    position: relative;
    opacity: 1;
    transform: rotateX(0deg);
    animation: zoom-in 0.8s;
}

section.node-page .body ul.changing-words-wrapper li.is-hidden {
    transform: rotateX(180deg);
    animation: zoom-out 0.8s;
}
@keyframes zoom-in {
    0% {
     opacity:0;
     -webkit-transform:translateZ(100px);
     -moz-transform:translateZ(100px);
     -ms-transform:translateZ(100px);
     -o-transform:translateZ(100px);
     transform:translateZ(100px)
    }
    100% {
     opacity:1;
     -webkit-transform:translateZ(0);
     -moz-transform:translateZ(0);
     -ms-transform:translateZ(0);
     -o-transform:translateZ(0);
     transform:translateZ(0)
    }
}
@keyframes zoom-out {
    0% {
     opacity:1;
     -webkit-transform:translateZ(0);
     -moz-transform:translateZ(0);
     -ms-transform:translateZ(0);
     -o-transform:translateZ(0);
     transform:translateZ(0)
    }
    100% {
     opacity:0;
     -webkit-transform:translateZ(-100px);
     -moz-transform:translateZ(-100px);
     -ms-transform:translateZ(-100px);
     -o-transform:translateZ(-100px);
     transform:translateZ(-100px)
    }
}

/******** TERM HEADING SECTIONS ********/
section.fullpage-header .view-sub-categories {
    text-align: center;
    font-size: 150%;
    text-transform: uppercase;
    color: #16c1f3;
    letter-spacing: 0.15em;
}
section.fullpage-header .view-sub-categories div {
    display: inline;
}
section.fullpage-header .view-sub-categories .sub-category::after {
    content: " /";
}
section.fullpage-header .view-sub-categories > div:last-child .sub-category::after {
    content: "";
}
section.fullpage-header .view-sub-categories .sub-category a::after {
    background-color: #fdfdfd;
    bottom: -5px;
}
section.fullpage-header .view-sub-categories .sub-category a:hover {
    color: #fdfdfd;
}

/******** TERM FULLPAGE SECTIONS - GENERIC ********/
section.block-entity-blocktaxonomy-term .container {
    padding: 0 50px;
}
section.block-entity-block h2.block-title {
    display: none;
}
section.fullpage-section-dark {
    background-color: #212121;
    color: #fdfdfd;
}
section.block-entity-blocktaxonomy-term h3.title, .node-slideshow .section-slide .title h3 {
    text-transform: uppercase;
    letter-spacing: 0.15em;
	font-size: calc(150% + 1vw);
}
section.block-entity-blocktaxonomy-term .description {
    font-size: calc(100% + 0.25vw);
    line-height: calc(150% + 0.2vw);
}

/******** SLIDESHOW SECTIONS ********/
.node-slideshow .section-slide {
    color: #fdfdfd;
    background-color: #212121;
}
.node-slideshow .section-slide .container {
    display: flex;
    height: calc(100vh - 60px);
    align-items: center;
}
.node-slideshow .section-slide > .fp-tableCell {
    position: relative;
}
.node-slideshow .section-slide .row.bs-1col.paragraph--type-slide-basic, .node-slideshow .section-slide .row.bs-1col.paragraph--type-slide-gallery {
    width: 100%;
}
.node-slideshow .section-slide .body {
    font-size: calc(100% + 0.25vw);
    line-height: calc(150% + 0.2vw);
}
.node-slideshow .bs-region--main, .node-slideshow .bs-region--left  {
    padding: 0 70px 50px 70px;
    z-index: 1;
}
@media (min-width: 768px) {
    .node-slideshow .bs-region--left {
        padding: 0 25px 50px 70px;
        width: 68%;
    }
}
@media (max-width: 992px) {
    .text-sidebar {
      width: 100% !important;
    }
  }
.node-slideshow .text-sidebar {
	position: absolute;
	left: 0;
	width: 40%;
	background: #212121;
	height: calc(100% + 50px);
	top: -50px;
	text-align: center;
	display: flex;
	align-items: center;
	z-index: 100;
	padding: 50px;
}
.node-slideshow .text-sidebar h5 {
	width: 100%;
	background: #fdfdfd;
	color: #212121;
	padding: 15px;
	text-align: center;
	margin: 20px 0;
    letter-spacing: 0.2em;
    font-size: calc(60% + 1.2vw);
}
.node-slideshow .text-sidebar .body {
    text-align: left;
    font-size: calc(85% + 0.25vw);
}
.node-slideshow .text-sidebar .body img {
    margin: 20px 10px;
    max-width: 400px;
}
.node-slideshow .slide-background {
	position: absolute;
	right: 0;
	width: 60%;
	top: 0;
	height: 100%;
	display: flex;
}
.node-slideshow .slide-background .slide-icon {
	margin: auto;
	width: 30%;
}
.node-slideshow .rental-sidebar {
    position: absolute;
    right: 0;
    width: 30%;
    background: #212121;
    height: calc(100% + 50px);
    top: -50px;
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 100;
    padding-top: 50px;
}
.node-slideshow .rental-sidebar > .rental-item {
	/*position: relative;
    top: 50%;
    transform: translateY(-50%);*/
    padding: 0 30px;
    width: 100%;
}
.node-slideshow .rental-sidebar .field--name-field-image img {
    mix-blend-mode: screen;
}
.node-slideshow .rental-sidebar h5 {
	width: 100%;
	background: #fdfdfd;
	color: #212121;
	padding: 15px;
	text-align: center;
	margin: 20px 0;
    letter-spacing: 0.2em;
    font-size: calc(20% + 0.9vw);
}
.node-slideshow .rental-sidebar .highlights {
	text-transform: uppercase;
	line-height: 2em;
    letter-spacing: 0.2em;
    margin: 10px 0;
    font-size: calc(25% + 0.65vw);
}
.node-slideshow .rental-sidebar .price {
	text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.2em;
    font-weight: 500 !important;
}
.node-slideshow .rental-sidebar .price .price-value {
    color: #16c1f3;
}
.node-slideshow .rental-sidebar .price .price-suffix {
    color: #3e3e3e;
}

/******** SLIDESHOW NAVIGATION ********/
.fp-slidesNav {
    text-align: center;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background: #fdfdfd;
}
#fp-nav ul li a span, .fp-slidesNav ul li a::after {
    display: none;
}
.node-slideshow .fp-controlArrow.fp-next {
    border-width: 18.5px 0 18.5px 20px;
    right: 10px;
}
.node-slideshow .fp-controlArrow.fp-prev {
    border-width: 18.5px 20px 18.5px 0;
    left: 10px;
}
.node-slideshow .fp-controlArrow {
	margin-top: -18px;
}

/******** PLAYBACK SLIDESHOW ********/
.playback-buttons {
    text-align: center;
    margin: 20px 0;
}
.playback-buttons a.playback-button{
    border: 3px solid #fdfdfd;
    color: #fdfdfd;
	display: inline-block;
	padding: 10px 20px;
	margin: 10px;
	transition: all 0.4s ease;
	font-family: 'Montserrat';
	font-weight: 600;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	cursor: pointer;
}
.playback-buttons a.playback-button:hover, .playback-buttons a.playback-button:active, .playback-buttons a.playback-button:focus {
	background-color: #fdfdfd;
	color: #212121 !important;
}
.playback-buttons a.playback-button::after {
	display: none;
}

/******** CREDITS SLIDER ********/
.credits-slider {
    margin: 50px 75px;
}
.credits-slider .view-header {
    text-align: center;
    margin-bottom: 50px;
}
.credits-slider .view-header h2 {
    font-size: calc(95% + 1.6vw);
    letter-spacing: 0.2em;
}
.credits-slider .view-header h2 span {
    font-weight: 700;
}
.credits-slider .slick-list {
	overflow: visible;
}
.credits-slider .slick__slide {
	box-shadow: 7px 7px 15px rgba(0,0,0,0.43);
	padding: 7px;
	margin: 0 10px;
}
.credits-slider .view-content .slick__arrow {
    top: 60%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s linear;
}
.credits-slider .view-content:hover .slick__arrow {
    opacity: 1;
    pointer-events: all;
}
.credits-slider .slick-arrow.slick-prev {
	transform: translate(-140%,-150%);
}
.credits-slider .slick-arrow.slick-next {
	transform: translate(140%,-150%);
}
/******** REMOTE - INTRODUCTION ********/
section.node-67 .title {
    text-align: center;
}
/******** FACILITIES - HUB ********/
section.node-slideshow.node-79 .section-slide::before {
    opacity: 0.5;
}
section.node-slideshow.node-79 .slide-26.section-slide::before, section.node-slideshow.node-79 .slide-27.section-slide::before,  section.node-slideshow.node-79 .slide-28.section-slide::before {
    opacity: 0;
}
/******** FACILITIES - MORE ********/
section.node-43 {
    background-color: #212121;
    color: #fdfdfd;
}
section.node-43 .body {
    margin-bottom: 45px;
    text-align: center;
}
/******** PHOTOSWIPE GALLERY ********/
.photoswipe-gallery > div.field--items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    gap: 8px;
}
@media screen and (max-width: 992px) {
    .photoswipe-gallery > div.field--items {
        grid-template-columns: 1fr 1fr;
    }
}
/******** CONTACT ********/
.node-16 .fp-scrollable {
    display: flex;
    justify-content: center;
    align-items: center;
}
.node-16 .bs-region--main {
    width: 100%;
    margin: auto;
    position: relative;
    float: none;
    min-width: 320px;
    color: #fdfdfd;
    max-width: 460px;
}
.node-16 .bs-region--main h2 {
    letter-spacing: 0.15em;
    font-size: calc(150% + 1vw);
}
.node-16 .bs-region--main p {
    font-size: calc(100% + 0.25vw);
    line-height: calc(150% + 0.2vw);
}
